*{
			box-sizing: border-box;
			position: relative;
			font-family: Arial, Helvetico, sans-serif;
		}
		.row{
			width =100%;
		}
		h1{ 
		text-align:center;

	}

		p{
			margin:10px; 
			text-align: center;
			clear:both;

		}
		span.h{
			padding: 10px;
			float: right;
			border: 1px solid black;
			font-size: 125%;
		}
		div.m {
			background-color: lightgray;
			border: 1px solid black;
			margin: 10px;

		}

		@media (min-width: 992px){
			.col-lg-4{
				float: left;
				width: 33.333%

			}
		}
		@media (min-width:768px) and (max-width: 991px){
			.col-md-6{
				float: left;
				width: 50%
			} 
			.col-md-6 + #n3{
				clear: left;
				width: 100%
			} 
		}
		#h1 {
			background-color: lightblue;
		}
		#h2 {
			background-color: yellow;
		}
		#h3 {
			background-color: lightgreen;
		}